<% include ../partials/header %>

    <div class="container">

        <div class="row user-profile-row">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h1>
                    <%=user.firstname %>
                        <%=user.lastname %>
                </h1>
                <div class="thumbnail">
                    <img src="<%=user.avatar%>" alt="user profile image">
                    <div class='caption'>
                        <a href="mailto:<%=user.email%>">
                            <%=user.email%>
                        </a>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.</p>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 rental-show-col">
                <% rentals.forEach(function(rental){ %>
                    <div class='col-md-3 col-sm-6'>
                        <div class='thumbnail'>
                            <a href="/rentals/<%=rental._id %>"><img src="<%= rental.image %>"></a>
                            <div class='caption'>
                                <h4>
                                    <%= rental.name %>
                                </h4>
                                <p><a href="/rentals/<%=rental.id%>" class="btn btn-primary" role="button">More Info</a></p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>


        </div>
    </div>

    <% include ../partials/footer %>