<% include ../partials/header %>
    <div class='container'>
        <div class='row' id='show_rental_info'>
            <div class='col-md-3'>
                <p class='lead'>My Rentals app</p>
                <div class='list-group'>
                    <li class='list-group-item active'>Info 1</li>
                    <li class='list-group-item'>Info 2</li>
                    <li class='list-group-item'>Info 3</li>
                    <div id='map'></div>
                </div>
            </div>
            <div class='col-md-9'>
                <div class='thumbnail'>
                    <img class='img-responsive' src="<%= rental.image %>">
                    <div class='caption-full'>
                        <h4 class='pull-right'>$9.00/night</h4>
                        <h4>
                            <a href="#">
                                <%= rental.name %>
                            </a>
                        </h4>
                        <p>
                            <%= rental.description %>
                        </p>
                        <p>
                            <em> Submitted By: <strong> <a href="/users/<%= rental.author.id%>"><%= rental.author.username %></a></strong> <span class='pull-right'><%= moment(rental.created_at).fromNow()%></span></em>
                        </p>
                        <% if (currentUser && rental.author.id.equals(currentUser._id)) { %>
                            <a href="/rentals/<%=rental._id%>/edit" class='btn btn-xs btn-warning text-left'>Edit</a>
                            <form action="/rentals/<%=rental._id %>?_method=DELETE" method="POST" id='delete_rental'>
                                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                            </form>
                            <% } %>
                    </div>
                </div>
                <div class='well'>
                    <div class='text-right'>
                        <a class='btn btn-success' href='/rentals/<%= rental._id %>/comments/new'>Add New Comment</a>
                    </div>
                    <hr>
                    <% rental.comments.forEach(function(comment){ %>
                        <div class='row'>
                            <div class='col-md-12' id='comment_div'>
                                <strong> <%= comment.author.username %></strong>
                                <span class='pull-right'><%=moment(comment.created_at).fromNow()%></span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <a href="/rentals/<%=rental._id%>/comments/<%=comment._id%>/edit" class='btn btn-xs btn-warning text-left'>Edit</a>
                                    <form action="/rentals/<%=rental._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" id='delete_rental'>
                                        <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            var lat = <%= rental.lat %>;
            var lng = <%= rental.lng %>;
            var center = {
                lat: lat,
                lng: lng
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString =
                `
          <strong><%= rental.name %><br />
          <%= rental.location %></strong>
          <p><%= rental.description %></p>
        `
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxh1SYqfaumMiSCV8owKts2dzm16EjMAo&callback=initMap"></script>
    <% include ../partials/footer %>